:root {
    --sideMenu: 200px;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.main-content {
    width: 100%;
}
#content {
    width: 100%;
    height: 100%;
    overflow: auto;
}
#content.iframe {
    height: 100%;
    overflow: hidden;
}
/* 小于700像素的 */
@media screen and (max-width: 700px) {
    .side-menu {
        width: 100%;
    }
    .main-content {
        width: 100vw;
    }
    #content.iframe {
        width: 100v;
    }
}

#content pre {
    overflow: unset;
}
em {
    font-style: normal;
    font-weight: bolder;
}
/* chrome浏览器的滚动条大小 */
::-webkit-scrollbar {
    width: 2px !important;
}
.navbar-nav .nav-link.active {
    color: var(--bs-primary)!important;
}
img {
    width: 100%;
}

/* markdown style------------begin */
/* 只改变第一个子节点，不改变二级以下的，必须指定为child */
.mj-book-info > ul,
.mj-computerscience > ul,
.mj-exercises-index > ul,
.mj-dev-note-index > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mj-book-info > ul > li,
.mj-computerscience > ul > li,
.mj-exercises-index > ul > li,
.mj-dev-note-index > ul > li {
    margin: 0 15px;
    list-style: none;
}
/* markdown style------------end */