:root {
    --sideLeft: 200px;
    --sideRight: 200px;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.side-left {
    width: var(--sideLeft);
    border-right: 1px dashed lightblue;
}
.side-right {
    width: var(--sideRight);
    border-left: 1px dashed lightblue;
}
.main-content {
    width:calc(100% - var(--sideLeft) - var(--sideRight));
}