body {
    width: 100vw;
    /* width: 100%; */
    height: 100vh;
    margin: 0;
    padding: 0;
}
/* 小于700像素的 */
@media screen and (max-width: 700px) {
    
}

em {
    font-style: normal;
    font-weight: bolder;
}
blockquote {
    font-size: smaller;
}
#cotainerPhysisology {
    p {
        margin: 0;
    }
}

details {
    overflow: auto;
}
details[open] {
    animation:  slideDown 0.3s ease-out;
}
@keyframes slideDown {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}